<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
    <img class="centerImage" src="../images/NEngelbrecht.JPG" alt="Natalie"/>
        <p>Naturopathic Doctor, Natalie Engelbrecht B.A., N.D., is a Canadian leader in Post Traumatic Stress Disorder and Integrative medicine. As a survivor of Post Traumatic Stress Disorder, Engelbrecht knows how to navigate the road to healing and is committed to guiding her patients on their journey to wellness.
        <br />
        <br />
        Natalie Engelbrecht's approach to Health Care combines a strong background in scientific academia, gathered during her medical studies at McMaster University, with her knowledge of a wide variety of healing traditions, explored during Graduate Naturopathic Medicine studies at the Canadian College of Naturopathic Medicine.
        <br />
        <br />
        With a special interest in Women's Health Issues and Pediatrics, Engelbrecht's reputation is founded on the outstanding care she provides to each of her patients. Natalie is a medical practitioner who is dedicated to restoring vibrant, good health to her patients through integrative diagnosis, proven breakthrough treatments and nurturing care.
        <br />
        <br />
        Engelbrecht utilized the best treatment choice to receive maximum benefits for her patients. She is trained in and uses of the following healing modalities: EMDR, NLP, Clinical Nutrition, Lifestyle Counseling and Stress Management, Homeopathic Medicine, Acupuncture, Chinese Medicine, Botanical (Herbal) Medicine and Hydrotherapy.
        <br />
        <br />
        Since 1996, Engelbrecht, has had an intimate and caring Private Practice in the Town of Oakville, Ontario. The Westside Natural Health Clinic surrounds patients with a warm, comforting and relaxed environment. Natalie's holistic and attentive care is focused on achieving freedom from disease as well as an internal state of freedom.
        <br />
        <br />
        Mission Statement
        Naturopath Doctor, Natalie Engelbrecht's mission statement is founded on her reputation for providing outstanding care to each of her patients.
        <br />
        <br />
        Mission Statement:
        As a medical practitioner I am dedicated to restoring vibrant, good health to each of my patients, I will provide excellence of care through integrative diagnosis, proven breakthrough treatments and nurturing care.</p>
    </div>
</div>

<% include ./partials/footer %>