<% include ./partials/header %>


<div class="mainSection">
        <p>
            We are a naturopathic clinic providing a professional and caring atmosphere for treatment. The information on our website is designed to help you. Use the navigation bar above to find information on our hours & location, patient protocols, policies and recent news. The clinic is headed by Natalie Engelbrecht, N.D..
            <br />
            <br />
            Our Office Manager is Lois.  You will find her kind, efficient and caring.
            Should you have any questions, you may call us at 905-845-4994.
            <br />
            Thanks for visiting Westside Natural Health Clinic!
            <br />
            <br />
            Disclaimer: The material on this website is intended for educational purposes only. It is not intended to replace the care given by a health professional. Please seek a healthcare professional before undertaking any possible treatments provided on this website.
        </p> 
</div>

<% include ./partials/footer %>
