<% include ./partials/header %>

<div id="siteBody">
<div class="mainSection">
<img class="centerImage" src="/images/emdr_small.jpg"/>
<h4>EMDR - Eye Movement Desensitization and Reprogramming<br />
      <br />
    The Breakthrough Therapy for Overcoming Disturbing Memories, Anxiety, Stress, Depression and Trauma</h4>
  <h4>What is EMDR?</h4>
  <ul>
    <li>Eye Movement Desensitization and Reprogramming</li>
    <li>It is a therapy used to treat a wide range of psychological conditions. (i.e. past memories, feeling of low self-esteem, etc.)</li>
    <li>EMDR is a technique used to process traumatic memories. It is believed that trauma is stored in the left side of the brain where it is not processed. Unprocessed memories continue to traumatize over time. EMDR allows your brain to transfer these memories from the left to the right to be processed. Processed memories lose their traumatic emotional charge.</li>
    <li>The changes are rapid and relapses are not expected.<br/></li>
  </ul>
  <h4>Adapted from the EMDR Institite Website:</h4>
  <div>
    <dl id="content">
      <dt>-<strong>1. What is EMDR?</strong></dt>
      <p><br />
        Eye Movement Desensitization and Reprocessing (EMDR) is a psychotherapy treatment that was originally designed by Francine Shapiro to alleviate the distress associated with traumatic memories . After successful treatment with EMDR, affective distress is relieved, negative beliefs are reformulated, and physiological arousal is reduced. During EMDR the client attends to emotionally disturbing material in brief sequential doses while simultaneously focusing on an external stimulus. Therapist directed lateral eye movements are the most commonly used external stimulus but a variety of other stimuli including hand-tapping and audio stimulation are often used. EMDR facilitates the accessing of the traumatic memory network, so that information processing is enhanced, with new associations forged between the traumatic memory and more adaptive memories or information. These new associations are thought to result in complete information processing, new learning, elimination of emotional distress, and development of cognitive insights. EMDR uses a three pronged protocol: (1) the past events that have laid the groundwork for dysfunction are processed, forging new associative links with adaptive information; (2) the current circumstances that elicit distress are targeted, and internal and external triggers are desensitized; (3) imaginal templates of future events are incorporated, to assist the client in acquiring the skills needed for adaptive functioning.<br />
      </p>
      <dt>-<strong>2. Is EMDR a one-session cure?</strong></dt>
      <p><br />
        No. However studies have indicated an elimination of diagnosis of posttraumatic stress disorder (PTSD) in 83-90% of civilian participants after four to seven sessions. Clients with multiple traumas and/or complex histories of childhood abuse, neglect, and poor attachment may require more extensive therapy, including substantial preparatory work in phase two of EMDR.<br />
      </p>
      <dt>-<strong>3. Does EMDR work for PTSD?</strong></dt>
      <p><br />
        Yes. EMDR is the most researched psychotherapeutic treatment for PTSD. Twenty controlled outcome studies have investigated the efficacy of EMDR in PTSD treatment. Sixteen of these have been published, and the preliminary findings of four have been presented at conferences. Two studies found EMDR to be more efficient than the CBT control condition, with EMDR using fewer treatment sessions to achieve effects. (Treatment effects have generally been well maintained. The efficacy of EMDR in the treatment of PTSD is now well recognized. A preliminary study found that EMDR reduced symptoms of guilt in combat-related PTSD.<br />
      </p>
      <dt>-<strong>4. Are treatment effects maintained over time?</strong></dt>
      <p><br />
        Twelve studies with PTSD populations assessed treatment maintenance by analyzing differences in outcome between post-treatment and follow-up. Follow-up times have varied and include periods of 3, 4, 9, 15 months, and 5 years after treatment. Treatment effects were maintained in eight of the nine studies with civilian participants; Of the three studies with combat veteran participants only one provided a full course of treatment (12 sessions). This study found that treatment effects were maintained at 9 months. It appears that the provision of limited treatment may be inadequate to fully treat the disorder, resulting in remission of the partial effects originally achieved.<br />
      </p>
      <dt>-<strong>5. Is EMDR effective in the treatment of phobias, panic disorder, or agoraphobia?</strong></dt>
      <p><br />
        EMDR is most effective in treating anxiety disorders which follow a traumatic experience (e.g., dog phobia after a dog bite), and less effective for those of unknown onset (e.g., snake phobia).<br />
      </p>
      <dt>-<strong>6. Is EMDR applied to every clinical disorder?</strong></dt>
      <p><br />
        No. EMDR was developed as a treatment for traumatic memories and research has demonstrated its effectiveness in the treatment of PTSD . Shapiro (2001) states that it should be helpful in reducing or eliminating other disorders that originate following a distressing experience. It is not anticipated that EMDR will be able to alleviate fully the symptoms arising from physiologically based disorders, such as schizophrenia or bipolar disorder. However, experiential contributors may play a major role in some symptoms, and there are anecdotal reports of persons with such disorders being treated successfully with EMDR for distress related to traumatic events.<br />
        <br />
        In addition to studies assessing the effectiveness of EMDR in the treatment of PTSD, phobias, and panic disorders, some preliminary investigations have indicated that EMDR might be helpful with other disorders. These include dissociative disorders, performance anxiety, body dysmorphic disorder, pain disorder, and personality disorders. Shapiro said applications of EMDR are useful for complaints such as depression, attachment disorder, social phobia, anger dyscontrol, generalized anxiety disorder, distress related to infertility, body image disturbance, marital discord, and existential angst.<br />
      </p>
      <dt>-<strong>7. Can EMDR's effects be attributed to placebo or non-specific effects?</strong></dt>
      <p><br />
        No. A number of studies have found EMDR superior in outcome to placebo treatments, and to treatments not specifically validated for PTSD. EMDR has outperformed active listening, standard outpatient care consisting of individual cognitive, psychodynamic, or behavioral therapy, relaxation training with biofeedback.<br />
      </p>
      <dt>-<strong>8. What have meta-analyses revealed about EMDR?</strong></dt>
      <p><br />
        They reported that EMDR and exposure therapies achieved similar outcomes, and were superior to other psychotherapeutic treatments. In their analysis they noted that the EMDR studies had used fewer sessions (4.3) to achieve the same level of results produced by more exposure sessions (10.4). They concluded that their results "suggest that EMDR is effective for PTSD, and that it is more efficient than other treatments"<br />
      </p>
      <dt>-<strong>9. Are eye movements considered essential to EMDR? </strong></dt>
      <p><br />
        Although eye movements are often considered its most distinctive element, EMDR is not a simple procedure dominated by the use of eye movements. Eye movements are used to engage the client's attention to an external stimulus, while the client is simultaneously focusing on internal distressing material. Shapiro describes eye movements as "dual attention stimuli," to identify the process in which the client attends to both external and internal stimuli. Therapist directed eye movements are the most commonly used dual attention stimulus but a variety of other stimuli including hand-tapping and auditory stimulation are often used.<br />
      </p>
      <dt>-<strong>10. How many sessions will it take?</strong></dt>
      <p><br />
        The number of sessions depends upon the specific problem and client history. However, repeated controlled studies have shown that a single trauma can be processed within 3 sessions in 80-90% of the participants. While every disturbing event need not be processed, the amount of therapy will depend upon the complexity of the history. In a controlled study, 80% of multiple civilian trauma victims no longer had PTSD after approximately 6 hours of treatment. A study of combat veterans reported that after 12 sessions 77% no longer had post traumatic stress disorder.<br />
      </p>
      <dt>-<strong>11. How many sessions with the therapist BEFORE (s)he begins EMDR?</strong></dt>
      <p><br />
        This depends upon the length of history taking and the client's ability to "self-soothe" and use a variety of self-control techniques to decrease potential disturbance. The clinician will teach the client these techniques during the preparation phase. The amount of preparation needed will vary from client to client. In the majority of instances the active processing of memories should begin after one or two sessions.<br />
      </p>
      <dt>-<strong>12. What questions should be asked to find out if clinicians are qualified and if they have expertise using EMDR with my problem/disorder?</strong></dt>
      <p><br />
        Ask the following:<br />
        <br />
        1. Have they received both levels of training?<br />
        2. Was the training approved by EMDRIA?<br />
        3. Have they kept informed of the latest protocols and developments?<br />
        4. How many cases have they treated with your particular problem/disorder?<br />
        5. What is their success rate?<br />
        <br />
        Natalie Engelbrecht N.D. is Level II trained by the EMDR institute (EMDRIA approved) and has been practicing EMDR for over 10 years. Natalie has performed over 3000+ sessions. Natalie Engelbrecht N.D. continues to be informed through courses and literature. Natalie's success rate is excellent and her busy practice speaks for itself in terms of her success rate.<br />
      </p>
      <dt>-<strong>13. How do I know EMDR would work for me/work for my anxiety/problems, etc.? Am I a candidate for EMDR?</strong></dt>
      <p><br />
        EMDR has been extensively researched as effective for problems based on earlier traumas. In addition, reports from clinicians over the past ten years have indicated that EMDR can be extremely effective when there are experiential contributors that need to be addressed. Besides EMDR Natalie Engelbrecht is trained in NLP, counseling and has an undergraduate in Psychology. Natalie has pioneered work in Trauma Therapy and has been asked to publish her work as well as present it at conferences.<br />
      </p>
      <dt>-<strong>14. Will EMDR or the eye movements increase the frequency of seizures?</strong></dt>
      <p><br />
        There is no indication that EMDR will increase the frequency of seizures.<br />
      </p>
      <dt>-<strong>15. Will EMDR/eye movements cause seizures?</strong></dt>
      <p><br />
        There is no indication that EMDR will cause seizures. In thousands of cases there have been only three reports of seizures occurring with people already diagnosed with epilepsy. Two of these cases occurred when using a lightbar. One case seemed to be caused by the processing of an old seizure. The client later reported that her experience made later seizures more manageable.<br />
      </p>
      <dt>-<strong>16. Will I live the trauma as intensely as before?</strong></dt>
      <p><br />
        Many people are conscious of only a shadow of the experience, while others feel it to a greater degree. Unlike some other therapies, EMDR clients are not asked to relive the trauma intensely and for prolonged periods of time. In EMDR, when there is a high level of intensity it only lasts for a few moments and then decreases rapidly. If it does not decrease rapidly on its own, the clinician has been trained in techniques to assist it to dissipate. The client has also been trained in techniques to immediately relieve the distress.<br />
      </p>
      <dt>-<strong>18. What are the adverse effects?</strong></dt>
      <p><br />
        As with any form of psychotherapy, there may be a temporary increase in distress.<br />
        1. distressing and unresolved memories may emerge<br />
        2. some clients may experience reactions during a treatment session including a high level of emotion or physical sensation<br />
        3. subsequent to the treatment session, the processing of incidents/material may continue, and other dreams, memories, feelings, etc., may emerge.<br />
      </p>
      <dt>-<strong>19. Where can I get more information?</strong></dt>
      <p><br />
        <a href="http://www.emdr.com/">www.emdr.com</a></p>
        
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;" href="http://unsplash.com/@sethdoylee?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Seth Doyle"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Seth Doyle</span></a>
    </div>
</div>
</div>

<% include ./partials/footer %>