<% include ./partials/header %>

<div class="mainSection">
    <p><strong>Clinic Hours:</strong><br />
        <br />
        Monday  Closed
        <br />
        Tuesday 9 a.m. to 3 p.m.
        <br />
        Wednesday 1 p.m. to 7 p.m.
        <br />
        Thursday  9 a.m. to 3 p.m.
        <br />
        Friday *  9 a.m. to 2 p.m.
        <br />
        NOTE: Our hours change during the summer and over Christmas ... please call the clinic to confirm our hours.
        * We are closed the 1st Friday of each month.
        <br />
        <br />
        <strong>Location</strong>
        <br />
        Westside Natural Health Clinic
        <br />
        114 Westside Dr.
        <br />
        Oakville, ON
        <br />
        L6K 1P3
        <br />
        Phone (905) 845-4994
        <br />
        Fax (905) 845-0889
        <br />
        <br />
        NOTES:
        <br />
        Oakville is halfway between Hamilton and Toronto on the QEW
        <br />
        <br />
        <strong>Directions from the East... (Toronto)</strong>
        <br />
        Take the QEW to Kerr St. exit, turn right on off ramp and follow under QEW 
        <br />
        Follow Kerr St. to fourth set of lights
        <br />
        You'll cross these lights...Speers, Stewart, Florence...then Westside
        <br />
        Turn right onto Westside Dr. and we are the second house on the left (114 Westside)
        <br />
        <br />
        <strong>Directions from the West... (Hamilton)</strong>
        <br />
        Take the QEW to Dorval Drive exit, turn right on offramp and follow under train bridge 
        <br />
        Turn right onto Speers Ave. follow to Kerr St., then turn right at Kerr 
        <br />
        Follow Kerr St. to third set of lights 
        <br />
        You'll cross these lights...Stewart, Florence...then Westside 
        <br />
        Turn right onto Westside Dr. and we are the second house on the left (114 Westside) 
        <br />
        <br />
        You can either park behind the house or on the street in front of it
    </p>  
</div>

<% include ./partials/footer %>