<% include ./partials/landingHeader %>

<div class="container">
    <div class="jumbotron">
        <img class="welcome" src="images/welcome.jpg" alt="Wecome image"/>
        <p>Welcome to the Westside Natural Health Clinic!</p>
    </div>
<div id="siteBody">
    <div class="mainSection">
        <img class="bodyImage" src="images/irene-davila-45777-edit.png" alt="Side image"/>
        <div id="intro">
        <p>
        Welcome to our clinic's website! If you have any questions, please call us at 905-845-4994.
        <br />
        
        Westside Natural Health Clinic is a professional and caring clinic located in Oakville, Ontario, Canada. 
        WNHC is headed by Natalie Engelbrecht, a Naturopathic doctor who specializes in natural remedies that 
        emphasize the body's intrinsic ability to heal and maintain itself.  Please feel free to read Natalie's Bio. You may also click the link below for additional info.
        <br />
        <a href="/about">Who's Natalie?</a>
        <br />
        
        Thank you for visiting us! We hope you take some time to read through the various sections of our site.
        </p>
        </div>
    </div>
</div>


<% include partials/footer %>