<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
        <img class="centerImage" id="centerImage" src="/images/human_brain_main.png"/>
        <h4>What is NLP?</h4>
          <p>NLP is a profound set of tools for personal development. Neurolinguistic Programming is the systematic study of human preformance. It is a practical application of how people think, and basically a process of teaching people how to use their brains effectively NLP teaches skills that promote positive change that generate new possibilites and opportunities.</p>
          <p>NLP was developed through the efforts of several people. Their studies began in the 1970's and have continued to grow to the present. NLP techniques enable therapists to be much more effective in assissting change in their clients lives.</p>
          <p>NLP was initially created in 1975 by Richard Bandler and John Grinder, who began modeling and duplicating the "magical results" of a few top communicators and therapists. Some of the first people to be studied included Hypnotherapist Milton Erickson, gestalt therapist Fritz Perls and family therapist Virginia Satir. Since then, many others have contributed to the growth and development of the field.</p>
          <h4>From: Richard Bandler<br />
            Re: More Freedom with Nlp</h4>
          <p>Most people end up having difficulties in their life, and they limit how much joy they could have in their life because they don't grasp opportunities available to them or maximize their resources.</p>
          <p>The very way they think about things and the very beliefs they have prevent them from being able to achieve the best that life has to offer.</p>
          <p>The by-product of these limitations is that they also create great difficulties that manifest themselves in many ways - from schizophrenia to depression, to all kinds of ludicrous self-defeating behaviours.</p>
          <p>To me, anybody who goes inside themselves and makes their life more miserable than it needs to be is an example of someone who chains themselves to the belief that life is suffering.</p>
          <p>They forget that life is not about remembering and reliving unpleasantness from their past, but about going forward to look at life as the adventure it can be.</p>
          <p>They're supposed to ask themselves more challenging questions, such as "How can I enjoy myself?", "How can I make this easier?", "How can I make this fun?"</p>
          <p>However, today we can go one step further.</p>
          <p>(NLP) has techniques that help make you feel really good for no reason, so that when you actually do have a reason, you'll feel even better.</p>
          <p>The art of enabling people to alter their state of consciousness, the very chemical state in which they exist.</p>
          <p>To me, the use of words - whether it be four words, five words or six words, it doesn't matter how many words you use - is about helping people to get to the future more quickly, easily, better and more effectively.</p>
          <p>So if you're learning to do something, you can learn it more quickly, easily and better than before. The questions are "How much fun can you stand? How much pleasure can you have?"</p>
          <p>Personal freedom is the ability to feel what you want so that the chains of fear, sadness and hate are broken.</p>
          <p>These chains are made up of negative feelings, limiting beliefs and destructive behaviours. It's about being able to build the kinds of internal states that take people to good places through curiosity.</p>
          <p>However, personal freedom goes one step further than just making good decisions. It's about learning how to run your brain in such a way that you can make these decisions.</p>
          <p>It is also about being able to take the good internal states and the things that you are curious about and being able to manifest them in your life.</p>
          <p>Freedom enables you to find things like love, success, music and art. You don't need to have a million dollars to find them.</p>
          <p>Some people think that if they have a big car, house or boat then all of their problems will go away. That's not necessarily true. People should think through what's going to make them happy.</p>
          <p>It's about going into a state where you find your own personal destiny. It is your ability to change your own internal state. The intelligence of personal freedom is about becoming aware of how you think and experience the world.</p>
          <p>It is about being pragmatically responsive to the world so that you allow things to inspire you and you are able to motivate yourself powerfully. It is about letting go of problems and thinking more about solutions. It is about feeling good most of the time.</p>
          <p>It is about dealing with the tough times you have and the difficult people you meet with grace and skill.</p>
          <p>Act as if you are the controlling element in your life. When you do this, you will be.</p>
          <p><strong>-- Richard Bandler</strong></p>
          <h4>Who is Richard Bandler? He's the co-creator of NLP.</h4>
          <h4>A brief description by Owen Fitzpatrick</h4>
          <p>In the 1970s, Richard believed anything was possible. He believed that he could help anyone change. The greatest example in his belief in human beings was his continuous work in mental hospitals where he worked with patients who had been dismissed by traditional psychologists and psychiatrists as being 'chronic' or 'permanently mentally ill'. Richard went in and using wacky and 'off the wall' yet incredibly effective methods, enabled these patients to become free from both the hospitals and the misery that once bound them. He became known for joining schizophrenics in their reality and then changing it. Richard's experiences with these patients offer perfect example of the true attitude that drives NLP.</p>
          <p>Today, he still works as a 'freedom fighter' on behalf of all those imprisoned by their own minds and he has taught millions of people to free their own minds. I don't believe it is 'freedom fighting', however. I believe it is 'freedom designing'. To everyone in the world who feels trapped, a slave to their environment, in chains of a negative world there is always hope and there is always freedom and, once you grasp it, you can change the world.</p>
          <div>
          <h4>What Does NLP treat?</h4>
          <ul>
            <li>Addictions</li><br />
            <li>Improved relatioships - getting along with coworkers, family</li><br />
            <li>How to be happy</li><br />
            <li>How to achieve your goals</li><br />
            <li>Improved job preformance</li><br />
            <li>Improved sport preformance</li><br />
            <li>Enhancing communication skills</li><br />
            <li>Parenting</li><br />
            <li>Public speaking</li><br />
            <li>Allows you to change the negative impact of the past into positive</li>
            <br />
          </ul>
    </div>
</div>

<% include ./partials/footer %>