<% include ./partials/header %>

<div class="mainSection">
    <p><strong>Naturopathic Visit Protocols</strong><br />
        <br />
        <strong>Preparation for First Naturopathic Visit</strong>
        <br />
        <br />
        Please bring all copies or forward them to the office of any recent tests including blood work, MRI, CAT Scan, X-ray, and US, allergy testing, hair analysis, salivary testing results. Please bring in a written record of what you ate in the last seven days, including all fluids, medicines, and supplements consumed. Finally any supplements or medicines should be brought to the first appointment.
        <br />
        <br />
        <strong>First Naturopathic Visit</strong>
        <br />
        <br />
        Your first visit with me will last 50 minutes. In this visit we will discuss your health history in detail. This will not be limited to your chief concerns but your overall health. A physical exam and any labs specific to your case will be preformed. Finally recommendations will be given.
        <br />
        <br />
        <strong>Subsequent Visits</strong>
        <br />
        <br />
        Subsequent visits (25 minutes) will be required to discuss your progress and follow up on specific signs and signals of your chief concern, as well as energy level, sleep patterns, food craving etc. It is important to listen to your body and let me know what is happening, as this may affect your treatment plan.
    </p>
</div>

<% include ./partials/footer %>