<% include ./partials/header %>

<div class="mainSection">
    <p><strong>Clinic Policies</strong><br />
        <br />
        <br />
        The clinic is usually closed Friday afternoon until Tuesday morning. During this time calls to the office will not be picked up. If it is urgent please contact Natalie Engelbrecht ND, via e-mail leaving your message and she will get back to you as soon as possible. Please note that your e-mail implies consent to return your e-mail. Should you not want her to contact you via e-mail please let Natalie know where to contact you. Messages will be returned during clinic hours unless the matter is urgent. Please specify if the mater is urgent. If your concern is an emergency, please visit an outpatient clinic or emergency ward of a hospital. Calls will be billed at the usual office rates.
        <br />
        <br />
        Fees must be paid on the day of treatment. For your convenience, we do accept VISA, MASTERCARD, DEBIT, CASH or CHEQUES. NSF Cheques carry a $15 additional fee. As your appointments are reserved for you exclusively, we require at least 48 hours notice for cancellations or rescheduling. Appointments which are not cancelled with 48 hours of notice will be billed at 50% of appointment fees. It is your responsibility to communicate with us to benefit other patients who may be waiting for an appointment. For the convenience and fair treatment of all clients, we do our best to keep all scheduled appointments on time. Complications and emergencies do arise and in these circumstances, we do appreciate your patience and understanding. Please note that if you arrive late for your appointment, only the balance of time that was reserved for you can be used.
        <br />
        <br />
        Should you have any questions regarding your treatment plan please call the clinic. Other concerns such as acute illness, dietary questions, etc. are best dealt with during a consultation. Urgent care time is available should concerns arise between your regularly scheduled appointments. Please do not hesitate to call the office or book an appointment as concerns are much easily dealt with when they arise.
        <br />
        <br />
        Supplements can be purchased at the clinic at competitive prices. You have the option to purchase your supplements from other sources. If you choose to purchase your supplements elsewhere please ensure that the supplement purchased is the exact one prescribed, including brand name.
        <br />
        <br />
        Confidentiality is a top priority at WNHC. Records are kept safely and securely. No files leave the property of WNHC. Should you wish to transfer any records please know we require your explicit written and oral consent.
        <br />
        <br />
        Several Extended Health Care Insurance Plans provide additional coverage for Naturopathic care and supplements. Be sure to check on any policy coverage you may have.
    </p> 
</div>

<% include ./partials/footer %>