<% include ./partials/header %>

<div id="siteBody">
<div class="mainSection">
<img class="centerImage" src="/images/seminar_main.png"/>
<p><strong>Seminars</strong>
<br />
<br />
If you are interested in securing me for a seminar at your workplace, please call the office.  Topics are varied and have intertwined Naturopathic Medicine with many other themes in professional settings.
<br />
<br />
What people are saying about Natalie Engelbrecht's public talks:</p>
<br />
<br />
<ul>
<li>"You have legitimized Naturopathic Medicine"</li>
<li>"She was amazing, she kept us enthralled for the whole talk!"</li>
<li>"Generally, very informative"</li>
<li>"Learned a lot"</li>
<li>"I liked the easy delivery and question & answer period"</li>
<li>"I appreciate that you have plenty of facts from research for backup"</li>
<li>"Relaxed atmosphere"</li>
<li>"Speaker asked questions afterward to make sure audience understood"</li>
<li>"Clarity & crispness of information"</li>
<li>"It was absolutely refreshing to hear an honest presentation of an important womens issue"</li>
</ul>
</div>
</div>

<% include ./partials/footer %>