<% include ./partials/header %>

<div id="siteBody">
    <div class="mainSection">
        <p>
            Treatments:
            <br />
            <br />
            EMDR
            <br />
            <br />
            EMDR stands for "Eye Movement Desensitization and Reprocessing" and is a comprehensive method 
            of psychotherapy designed to treat trauma and anxiety-related disorders.  
            Read more <a href="/treatment/emdr">here</a>
            <br />
            <br />
            <br />
            NLP
            <br />
            <br />
            NLP or "Neuro-Linguistic Programming", is a therapeutic process which enables you to break old patterns 
            and generate unlimited potential using posture, breathing, specific exercises, awareness and communication skills.  
            Read more <a href="/treatment/nlp">here</a>
        </p>
    </div>
</div>

<% include ./partials/footer %>