body {
	background-color: white;
}
#siteBody{
	display: inline-block;
}
.centerImage {
	width: 15%;
	height: 10%;
}
.delete-form{
    display: inline;
    margin-left: 68%;
}
.delete-news-form{
    display: inline;
    margin-left: 65%;
}
.formContainer {
	width: 30%; 
	margin: 30px auto;
}
.jumbotron{
	vertical-align: top; 
	text-align: center;
	display: inline-block;
	justify-content: center;
	font-family: 'Playfair Display', serif;
	background: #31502c;
	color: white;
}
.mainSection{
	/*Creates spacing around the div to position it in the center
	of the page*/
	text-align: center;
	align-items: center;
	display: inline-block;
	justify-content: center;
	font-family: 'Playfair Display', serif;
	border: 25px solid #31502c;
	background-color: white;
	padding: 20px;
	margin: 10%;
	font-size: 120%;
}
.navbar-inverse{
	background: #31502c;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu {
    background: #31502c;
    color:#ffffff;
}
.newText {
	text-align: center;
	color: black;
}
.topImage{
	width: 30%;
	height: 30%;
}
.bodyImage {
	width: 75%; 
	height: 75%;
}
.welcome {
	width: 50%; 
	height: 50%;
}