<% include ../partials/formHeader %>

<div class="container">
    <div class="row">
        <h1 class="newText">Add a new recipe</h1>
        <div class="formContainer">
            <form action="/recipes" method="POST">
                <div class="form-group">
                    <p class="newText">Name: </p><input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <p class="newText">Ingredients: </p><textarea class="form-control" rows="4" cols="50" name="ingredients"></textarea>
                </div>
                <div class="form-group">
                    <p class="newText">Instructions: </p><textarea class="form-control" rows="4" cols="50" name="instructions"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/recipes" class="btn btn-xs btn-default">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>